body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

img {
  display: block;
}

/* .container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
} */
section,
header {
  max-width: 1440px;
}

header {
  background-color: #191919;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header_text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
}

.hero {
  background-image: url(./images/hero-bgd.jpg);
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-color: #996b60;
  color: #ffffff;
  height: 800px;
}
.hero_menu {
  padding-top: 25px;
}

.hero_menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.hero_menu_item {
  letter-spacing: 1px;
  text-transform: uppercase;
}
